@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 133%;
    background: linear-gradient(to top right, #80cbc4, #e1bee7,
                                               #80ddea, #d1c4e9);
}

form{
    padding: 20px 15px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    width: 250px;
}

.containertwo{
    display: flex;
    flex-direction: row;
    flex-flow: row;

}

label.logo{
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding: 0 100px;
    line-height: 80px;
    vertical-align: middle;
}

nav {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);

}

nav ul {
    float: right;
    margin-right: 40px;

}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    vertical-align: middle;

}

nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: none;
    color: #000;
    padding: 10px 30px;
    height: 80px;
    transition: .5s ease;
    border-radius: 0 30px;
    
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}


nav li a{
    display: flex;
    align-items: center;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 5px;
    height: 80px;
    width: auto;
    transition: .5s ease;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

button {
    padding: 18px 30px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3f3f3f;
    border-radius: 5px;
    min-width: 200px;
    font-size: 12px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
    font-weight: 600;

}

button::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(
                90deg,
                transparent,
                #ffffff75,
                transparent
                );
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)
                skew(-20deg);
}

button:hover::before{
    transform: translateX(300px)
                skew(-20deg);
}

button:hover{
    background: #00f7ff;
}
